{{define "subject"}}Welcome!{{end}}
{{define "plainBody"}}
Hi,
Thanks for signing up for an Ivywhiz account. We're excited to have you on board!
For future reference, your user ID number is {{.userID}}.

Please click the link below to activate your account:
http://localhost:4000/v1/activate?token={{.activationToken}}

Please note that this is a one-time use token and it will expire in 3 days.

Thanks,
The Ivywhiz Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        /* Add some basic styling */
        body {
            font-family: Arial, sans-serif;
            background-color: bisque;
        }

        .container {
            padding: 20px;
        }

        .link {
            background-color: #eeeeee;
            color: #19283d;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
        }

        .link:hover {
            background-color: #850f0f;
            color: white;
        }

        .logo {
            display: block;
            margin: 0 auto;
            max-width: 200px;
        }
    </style>
    <!-- Include Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <img src="{{.logoURL}}" alt="Logo" class="logo"
            onerror="this.onerror=null; this.src='https://logoipsum.com/logo/logo-7.svg'">
        <p>Hi,</p>
        <p>Thanks for signing up for an Ivywhiz account. We're excited to have you on board!</p>
        <p>For future reference, your user ID number is {{.userID}}.</p>
        <br>
        <p>Please click the link below to activate your account:</p>
        <a class="link" href="http://localhost:4000/v1/activate?token={{.activationToken}}">Activate Account</a>
        <p>Please note that this is a one-time use token and it will expire in 3 days.</p>
        <p>Thanks,</p>
        <p>The Ivywhiz Team</p>
    </div>

    <!-- Include Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        function activateAccount(token) {
            const xhr = new XMLHttpRequest();
            xhr.open('PUT', 'http://localhost:4000/v1/users/activated', true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.send(JSON.stringify({ token: token }));

            xhr.onload = function () {
                if (xhr.status === 200) {
                    toastr.success('Your account has been activated successfully!');
                } else {
                    toastr.error('There was an error activating your account.');
                }
            };
        }
    </script>
</body>

</html>
{{end}}